<form action="/{{ id }}/" method="post">{% csrf_token %}
<title>{{ year }} Club Award Details for {{ name }}</title>
<table>
{% for field in club_form %}
{{ field.errors }}
<tr>
<td><strong>{{ field.label_tag }}:</strong></td>
<td>{{ field }}<p></td>
{% endfor %}
</table>
<input type="submit" value="Save Information" />
</form>
